
/**
 *      The airlock's extended css
 *
 *      $Id: ext.css
 *      
 *      $date: 2013-02-28
 *      
 *      @author cyy
 */
 
/*-----------------------------------------------------------------------------------*/
/*	Like Style start
/*-----------------------------------------------------------------------------------*/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.entry-meta {
    font-size: 11px;
    margin: 0;
   
}

.entry-div {
	padding: 0 10px 10px;
 }

.clearfix {
    display: block;
}

.like-count .icon, .comment-count .icon, .published .icon {
    background-image: url("../gfx/sprite.png");
}

.published {
    float: left;
}

.published .icon {
    background-position: 0 0;
    float: left;
    height: 6px;
    margin: 4px 5px 0 0;
    width: 12px;
}


.like-count, .edit-post, .comment-count {
    float: right;
    margin: 0 0 0 10px;
}

.comment-meta a:hover,
.entry-meta a:hover {
	color: #66696d;
}

.comment-count .icon {
    background-position: 0 -7px;
    float: left;
    height: 11px;
    margin: 2px 5px 0 0;
    width: 15px;
}

.comment-count a:hover .icon {
	 background-position: -16px -7px;
}

.like-count .icon {
    background-position: 0 -19px;
    float: left;
    height: 11px;
    margin: 2px 5px 0 0;
    width: 13px;
}

.like-count a:hover, .like-count a.active, .like-count a:hover {
    color: #F56559;
}

.like-count a:hover .icon, .like-count a.active .icon {
    background-position: -15px -19px;
}

.fr {
	float : right;
}

.fl {
	float : left;
}

/*
Back to top button 
*/
a#go-top{
	background: url(../gfx/light/to-top.png) 20px 23px no-repeat;
	width:60px;
	height:45px;
	text-align:center;
	text-decoration:none;
	line-height:25px;
	color:#999;
}
a#go-top:hover{
	background: url(../gfx/dark/to-top.png) 20px 23px no-repeat;
	width:60px;
	height:45px;
	text-align:center;
	text-decoration:none;
	line-height:25px;
	color:#2C63A9;
}
/**Back to top End**/

/**layer**/
.layer_fix{color:#fff;display:none;position:fixed;left:0;bottom:0;width:100%;z-index:900;background:url(../gfx/dark-new/layer_bg.png);}
.layer_con{
	/**width:960px;**/
	margin:0 auto;
	position:relative;
	text-align:left;
}
.layer_text{
	float:left;
	display:inline;
	margin:0 0 0 10px;
	min-width:396px;
	/**min-width:530px;**/
}
.layer_btn_div{float: right;margin-right: 100px;}
.layer_big{float:left;display:inline;margin:29px 0 0;}
.layer_par {
	background:url("../gfx/index-sprite.png") no-repeat scroll -11px -192px transparent;
	width:193px;
	height:35px;
	float:right;
	text-indent:-9999px;
	cursor:pointer;border:0;
	margin:42px 0 0;
}
.layer_pinterest,.layer_facebook,.layer_twitter,.layer_google {
	background:url("../gfx/index-sprite.png") no-repeat scroll 0 0 transparent;
	width:100px;
	height:36px;
	float:left;
	text-indent:-9999px;
	cursor:pointer;border:0;
}

.layer_pinterest {
	background-position:-6px -233px;
}
.layer_facebook {
	background-position:-101px -233px;
}
.layer_twitter {
	background-position:-196px -233px;
}
.layer_google {
	background-position:-291px -233px;
}

.layer_close{position:absolute;right:10px;top:10px;width:26px;height:26px;}
.layer_close a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -254px -168px transparent;
	display:block;
	text-indent:-9999px;
	width:26px;
	height:26px;
}
.layer_close a:hover{
	background:url("../gfx/index-sprite.png") no-repeat scroll -254px -194px transparent;
}

#menu ul li {
	list-style: none outside none;
	float: left;
}

#menu ul li a {
	text-indent: -999em;
	display: block;
}

#menu_formation a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -433px -12px transparent;
	width:175px;
	height:30px;
	margin-top: 20px;
}

#menu_formation a:hover{
	background:url("../gfx/index-sprite.png") no-repeat scroll -433px -46px transparent;
}

#menu_formation_active a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -411px -84px transparent;
	width:175px;
	height:68px;
	margin-top: 8px;
}

#menu_formation_active a:hover{
	
}

#menu_contact a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -429px -155px transparent;
	width:121px;
	height:27px;
	margin-left: 5px;
    margin-top: 25px;
}

#menu_contact a:hover{
	background:url("../gfx/index-sprite.png") no-repeat scroll -429px -181px transparent;
}
#menu_contact_active a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -401px -211px transparent;
	width:175px;
	height:67px;
	margin-top: 8px;
}
.menu_search_form {
	width: 200px;
	height:32px;
	margin-left: 30px;
}
.menu_li {
	width: 170px;
	height:27px;
}

#sub_menu {
    position: relative;
}
#menu_cafe {
	margin-left: 75px;
	width: 525px;
	padding: 10px 0 0;
	height: 110px;
	float: left;
}
.cafe_content {
	float: left;
	width: 300px;
	height: 100px;
}
.cafe_content p{
	color: #5B5853;
    font-size: 14px;
    font-style:italic;
    margin-bottom: 0.2em;
}
.equipe_p {
	float: right;
    padding-right: 5px;
}

.cafe_form {
	float: left;
}
.cafe_form_img {
	width: 215px;
	height: 70px;
}

.cafe_form_img a{
	background:url("../gfx/index-sprite.png") no-repeat scroll -10px -8px transparent;
	width: 215px;
	height: 70px;
	float: left;
	text-indent: -999em;
	display: block;
}
.cafe_form_img a:hover{
	background:url("../gfx/index-sprite.png") no-repeat scroll -10px -83px transparent;
}

.cafe_form_num {
	padding: 5px;
}
.cafe_form_num select {
	width: 200px;
}

.sub_menu_cat {
	float: left;
	background:url("../gfx/index-sprite.png") no-repeat scroll -232px -131px transparent;
	width: 23px;
	height: 100px;
	margin-top: 10px;
}

#menu_sign {
	float: left;
    height: 110px;
    margin-top: 10px;
    width: 555px;
}
#menu_sign p {
	color: #8A8173;
    font-size: 16px;
    margin-bottom: 0.5em;
}
.sign_div {
	float: right;
	/**margin-top: 10px;**/
}
.sign_div a {
	text-indent: -999em;
	display: block;
}

.login_btn{
	background:url("../gfx/index-sprite.png") no-repeat scroll -229px -8px transparent;
	width: 119px;
	height: 27px;
	float: left;
}
.login_btn:hover {
	background:url("../gfx/index-sprite.png") no-repeat scroll -229px -38px transparent;
}
.reg_btn{
	background:url("../gfx/index-sprite.png") no-repeat scroll -229px -74px transparent;
	width: 119px;
	height: 27px;
	float: left;
	margin-left: 20px;
}
.reg_btn:hover {
	background:url("../gfx/index-sprite.png") no-repeat scroll -229px -104px transparent;
}

#portfolioList a:hover {
    color: #ECB618;
}

.about-text {
	font-size: 15px;
}